body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
}

.book-library {
    background-color: #ffffff;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
}

.book {
    margin-bottom: 20px;
}

.book img {
    width: 100%;
}

.author {
    color: #777777;
}

.price {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 5px;
}
